.headproj {
    display: block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    padding-top: 100px;
    margin-left: 50px;
}

.projectscontainer{
    display: flex;
    justify-content: space-around;
    margin: 100px 100px 500px 100px
}
/*1st Div*/
.projdiv,
.SCards{
    display: grid;
    position: relative;
    margin: 10px;
    align-self: baseline;
    width: 750px;
}

/*First Proj*/
a.FirstProj:link, 
a.FirstProj:visited,
a.SkProj:link,
a.SkProj:visited{
    color: rgba(196, 196, 196, 0.76);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    text-align: center;
}
a.FirstProj:hover,
a.SkProj:hover{
    font-size: 60px;
}

iframe.FirstProj,
iframe.SkProj{
    margin-inline: auto;
    width: -webkit-fill-available;
    height: 300px;
    background-color: white;
}

.projdiv p,
.SCards p{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding-top: 10px;
    font-weight: bolder;
}



