
*{
    background-color: #24252a;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;

}

#Logo{
    width: 95px;
    padding: 3px;
    background-color: transparent;
}

body{
    color:rgba(196, 196, 196, 0.76);
    
}
/*contains navigator bar*/
nav{
    padding-left: 30px;
    align-items: center;
    justify-content: space-between;
    display:flex;
    flex-flow: row nowrap;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav div{
    background-color: black;
    height: 100px;
    width: 100px;
}

nav ul{
    background-color: black;
    float: right;
    margin: 20px;

}
nav ul li{

    color: white;
    display:inline-block;
    line-height: 20px;
    margin: 0 5px;
}
nav ul li a{
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;

}


/*links */

.FirstProject{
    color: rgba(196, 196, 196, 0.76);
}

a.clickables, a:visited{
    color: currentColor;
}
a.clicks,  a:hover{
    background: gray;
    transition: .5s;
}

/*home container*/
.homecontainer{
    display: flex;
    justify-content: space-evenly;
    height: 550px;
    margin: 100px 100px 500px 100px
}

/* Im Boriz part*/
.headiv{
    margin: 10px;
    width: 750px;

}

.headiv li, .headiv p, .picture, #profpic{
    background-color: transparent;
    display: inline-flex;
    position: relative;
}
.im{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    top: 0;
}
.jk{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    letter-spacing: 20px;
    margin: 0 0 0 50px
}
.boriz{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 250px;
    top: -70px;
}
.borro{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 170px;
    bottom: 150px;
}
.headiv p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    bottom: 180px;
    margin: 0 0px 0 110px;
    letter-spacing: 12px;
}

/*profile picture*/

#profpic{
    width: 600px;
    object-fit: none;
    object-position: -321px 29%;
    border-radius: 2987px;
    box-shadow: 26px 21px 55px 14px rgb(0 0 0 / 62%);
    -webkit-box-shadow: 26px 21px 55px 14px rgb(0 0 0 / 62%);
    -moz-box-shadow: 26px 21px 55px 14px rgba(0,0,0,0.62);
}



