.projectscontainer{
    display: flex;
    justify-content: space-evenly;
    height: 550px;
    margin: 100px 100px 500px 100px
}
/*1st Div*/
.projdiv{
    display: grid;
    position: relative;
    margin: 10px;
    align-self: baseline;
    width: 750px;
}

/*First Proj*/
a.FirstProj:link, a.FirstProj:visited{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    text-align: center;
}
a.FirstProj:hover{
    font-size: 60px;
}

iframe.FirstProj{
    margin-inline: auto;
    width: -webkit-fill-available;
    height: 300px;
    background-color: white;
}

.projdiv p{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding-top: 10px;
    font-weight: bolder;
}


.headproj {
    display: block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    padding-top: 100px;
    margin-left: 50px;

}




.Udiv{
    margin: 10px;
    width: 750px;
}